.App {
  text-align: center;
  display: block;
  overflow: auto;
}

h1, h2, h3, p{
  margin-top: 0;
}

h1{
  display: block;
}


header,footer {
  margin-top: 0;
  background-color: #D4DCFF;
  overflow: auto;
  margin-bottom: 0;
  /* font-size: 3vw; */
  height: 10vh;

    display: flex;
  justify-content: center;
  align-items: center;
}


ul{
  list-style-type: none;
}

li{
  display: inline;
  margin: 10px;
}

a{
  text-decoration: none;
  margin: 0.5vw;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.page{
  margin: 0;
  height: 60vh;
  display: block;
  overflow: auto;
  background: linear-gradient(
    45deg,
    #7D83FF 50%,
    #007FFF 50%
  );
  background-repeat: no-repeat;
}

.project-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.img-container {
  position: relative;
  display: inline-block;
  margin: 20px;
  width: 20vw;
  height: 20vh;
}

img {
  width: 100%;
  height: 100%;
}

.img-container .title{
  position: absolute;
  top: 10%;
  left: 24%;

}

.img-container .link{
  position: absolute;
  top:30%;
  left: 24%;
}

.img-container .project-github{
  position: absolute;
  top: 80%;
  left: 24%;
}


